h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #42606a;
}


.progress {
  background-color: #30bc99;
}

.btn-primary {
  background-color: #30bc99;
  border-color: #30bc99;
}

.page-container {
	/*display: -webkit-box;*/
	display: -ms-flexbox;
	/*display: flex;*/
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: rgba(142, 147, 159, 0.05);
	border: 1px solid rgba(67, 85, 119, 0.5);
	border-radius: 0.5em;
	padding: 1.5em;	
	width: 100%;
}

.container {
	width: 100%;	
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
.container {
	width: 100%;	
}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
.container {
	width: 100%;	
}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
.container {
	width: 100%;	
}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
.container {
	width: 50%;	
}
}


/*
div.dataTables_wrapper {
        width: 800px;
        margin: 0 auto;
    }
     
th, td 
{
    text-align: center; 
    vertical-align: middle;
}

th, td { white-space: nowrap; } */


html,body {padding:0;margin:0;}
.wrap {
  font:12px Arial, san-serif;
}
h1.likert-header {
  padding-left:4.25%;
  margin:20px 0 0;
}
form .statement {
  display:block;
  font-size: 14px;
  font-weight: bold;
  padding: 30px 0 0 4.25%;
  margin-bottom:10px;
}
form .likert {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #efefef;
}
form .likert:last-of-type {border-bottom:0;}
form .likert:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}
form .likert li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}
form .likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
  
}
form .likert li label {width:100%;}
form .buttons {
  margin:30px 0;
  padding:0 4.25%;
  text-align:right
} 
form .buttons button {
  padding: 5px 10px;
  background-color: #67ab49;
  border: 0;
  border-radius: 3px;
}
form .buttons .clear {background-color: #e9e9e9;}
form .buttons .submit {background-color: #67ab49;} 
form .buttons .clear:hover {background-color: #ccc;}
form .buttons .submit:hover {background-color: #14892c;} 


#rc-textfield{
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: black;
    font-family: 'Amaranth', sans-serif;
}

#overall-textfield{
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: black;
    font-family: 'Amaranth', sans-serif;
}

#rt-textfield, #composure-textfield, #market-textfield{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: black;
    font-family: 'Amaranth', sans-serif;
}

#rc-text{
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #7289b5;
    font-family: 'Amaranth', sans-serif;
}

#overall-text{
    position: absolute;
    top: 165px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #7289b5;
    font-family: 'Amaranth', sans-serif;
}

#rt-text, #composure-text, #market-text{
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: #7289b5;
    font-family: 'Amaranth', sans-serif;
}

.error{
    color: red;
}

